.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary3;
  color: white;
  text-align: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: auto;
    max-width: 680px;
    padding: 5px 15px;
    color: white;

    .footer-logo {
      width: 125px;
      height: 111px;
      padding: 15px;
    }
  }
}
