//Styling for masthead
// .masthead-services {
//   .services-container {
//     margin: 0;
//     transform: skewY(-6deg);
//     transform-origin: top left;
//   }

//   .card-services {
//     font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
//     font-size: 3em;
//     font-weight: 800;
//     height: 700px;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     letter-spacing: -2px;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//     background: #86c232; /* fallback for old browsers */
//     background: -webkit-linear-gradient(
//       to bottom,
//       #474b4f,
//       #222629
//     ); /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(
//       to bottom,
//       #474b4f,
//       #222629
//     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   }

//   #services-header {
//     margin: 0;
//     font: 55px "Arial";
//     color: white;
//     text-align: center;
//     transform: skewY(6deg);
//     transform-origin: top left;
//   }
// }

.hexagon {
  position: relative;
  height: 250px;
  width: 144.51px;
  background: #86c232;
  margin: 30px auto;
  position: relative;
  text-align: center;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-bottom: 125px solid transparent;
  border-top: 125px solid transparent;
}

.hexagon::before {
  left: 100%;
  border-left: 80px solid #86c232;
}

.hexagon::after {
  right: 100%;
  border-right: 80px solid #86c232;
}

#icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services-page-section {
  padding: 8rem 0;
}

.services-section-1 {
  background-color: #222629;
}
.services-section-2 {
  background-color: #222629;
}
.services-section-2 {
  background-color: #222629;
}
